@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background-color:#f3f3f3;
	color: #000;
	font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
    background-size: 100%;
}
.footer{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    min-height: 7em;
    background-color: #3e971d;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 5px;
    letter-spacing: 0.1em;
}
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */
.imgLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login {
	margin: 50px auto;
	width: 400px;
}
#logo{
	width:45%;
	background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container_logo{
	width: 81%;
	padding: 40px 0px 0px 80px;
}

#login h2 {
	background: #3e971d;
    border-radius: 15px;
    color: #fff;
    font-size: 25px;
    padding: 13px 26px;
    text-align: center;
    letter-spacing: 0.1em;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background: #fff;
    border-radius: 15px;
    padding: 25px 25px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset a {
	text-decoration: none;
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	border-radius: 6px;
	cursor:pointer;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
	background: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background: #3e971d;
    color: #fff;
    display: block;
    margin: 0px auto;
    padding: 10px;
    width: 170px;
    margin-top: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

#login fieldset input[type="submit"]:hover {
	background: #2f892f;
	transition: all .4s;
	color:#fff;
}

#login fieldset label{
  font-weight: bold;
  color: #000;
}


.tt-wrapper{
    list-style: none;
}
.tt-wrapper span{
    color:red;
}
.tt-wrapper li img{
   margin-right: 15px;
}
.tool_tip{
    margin-left: -30px;
}




@media only screen and (min-width: 1200px) {
 .footer{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    min-height: 11em;
    margin-top:8em;
    background-color: #3e971d;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 5px;
    letter-spacing: 0.1em;
}

}


@media only screen and (min-width: 1300px) {
 .footer{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    min-height: 7em;
    background-color: #3e971d;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 5px;
    letter-spacing: 0.1em;
}

}

@media screen and (min-width: 1800px) {
    .footer{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    min-height: 11em;
    margin-top:11em;
    background-color: #3e971d;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 5px;
    letter-spacing: 0.1em;
}
}




